div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-lg-12
      .col-sm-6
        h1 Hello {{project.info.job.project}} {{project.info.job.team}}!
      .col-sm-6
        //h2.pull-right.text-muted
          a(href='{{project.jenkins.url}}' target='_blank') project url
  div.alert.alert-success(role='alert', ng-show='project.jenkins.color == "blue"')
    i.fa.fa-smile-o
    |  Your project is building successfully!
  div.alert.alert-danger(role='alert', ng-hide='project.jenkins.color != "blue"')
    i.fa.fa-exclamation-triangle
    span Your project is not building. Please look at the&nbsp;
    a(href="{{project.jenkins.lastBuild.url}}/console") error logs.
  .row
    .col-lg-12
      .col-lg-12
        h3 Build Info
        //div(duplicate-code="")
        .row
          div.col-sm-12
            build-info(build-name='Last Successful Build', build-details="project.jenkins.lastSuccessfulBuild")
        .row(ng-show='project.jenkins.lastSuccessfulBuild.number != project.jenkins.lastBuild.number')
          div.col-sm-12
            build-info(build-name='Last Build', build-details="project.jenkins.lastBuild")
  .row
    br
  .row
    div.col-sm-3
      .well.text-center
        a(href='{{project.github}}')
          i.fa.fa-github-square.fa-5x
          h4 GitHub Repo
        p Project source code.

    div.col-sm-3
      .well.text-center
        a(href='{{project.jenkins.url}}')
          img(src='assets/images/jenkins.png' style='width: 75px')
          h4 Jenkins
        p View the project information on Jenkins, a Continuous Integration server.
    div.col-sm-3
      .well.text-center
        a(href='{{project.sonarqube}}').vertical-center
          img(src='assets/images/sonarqube.png' style='width: 75px')
          h4 SonarQube
        p Analyzes your code and indicates where problems lie.
    div.col-sm-3
      p Data
  footer.footer
    .container
      p
        | Duke Design CI
        = ' | '
        a(href='https://twitter.com/tadimsky') @Tadimsky
        = ' | '
        a(href='https://github.com/DukeCompSci308/DesignCI/issues?state=open') Issues
