div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-lg-12
      .col-sm-6
        h1 Hello {{project.info.job.project}} {{project.info.job.team}}!
      .col-sm-6
        //h2.pull-right.text-muted
          a(href='{{project.jenkins.url}}' target='_blank') project url
  div.alert.alert-success(role='alert', ng-show='project.building')
    i.fa.fa-smile-o
    |  Your project is building successfully!
  div.alert.alert-danger(role='alert', ng-hide='project.building')
    i.fa.fa-exclamation-triangle
    span Your project is not building. Please look at the&nbsp;
    a(href="{{project.jenkins.lastCompletedBuild.url}}/console") error logs.
  .row
    .col-lg-12
      .col-lg-12
        h3 Build Info
        .row
          div.col-sm-12
            build-info(build-name='Last Successful Build', build-details="project.jenkins.lastSuccessfulBuild")
        .row(ng-show='project.jenkins.lastSuccessfulBuild.number != project.jenkins.lastBuild.number')
          div.col-sm-12
            build-info(build-name='Last Build', build-details="project.jenkins.lastCompletedBuild")
  .row
    .col-lg-12
      .col-lg-12
        duplicate-code(metrics="metrics.jenkins.dry")
  .row
    div.col-sm-3
      .well.text-center
        a(href='{{project.github}}')
          i.fa.fa-github-square.fa-5x
          h4 GitHub Repo
        p Project source code.

    div.col-sm-3
      .well.text-center
        a(href='{{project.jenkins.url}}')
          img(src='assets/images/jenkins.png' style='width: 75px')
          h4 Jenkins
        p View the project information on Jenkins, a Continuous Integration server.
    div.col-sm-3
      .well.text-center
        a(href='{{project.sonarqube}}').vertical-center
          img(src='assets/images/sonarqube.png' style='width: 75px')
          h4 SonarQube
        p Analyzes your code and indicates where problems lie.
    div.col-sm-3
      .well.text-center
        a(href='{{project.sonarqube}}').vertical-center
          i.fa.fa-book.fa-5x
          h4 Documentation
        p Documentation for your project based on JavaDoc comments and class hierarchies.
  footer.footer
    .container
      p
        | Duke Design CI
        = ' | '
        a(href='https://twitter.com/tadimsky') @Tadimsky
        = ' | '
        a(href='https://github.com/DukeCompSci308/DesignCI/issues?state=open') Issues
script.
  $(document).ready(function () {
    var heights = $(".well").map(function () {
        return $(this).height();
      }).get(),
      maxHeight = Math.max.apply(null, heights);
    $(".well").height(maxHeight + 10);
  });
