.panel.panel-info
  .panel-heading Code Metrics
  .panel-body
    .row
      .col-lg-4
        .panel.panel-info.panel
          .panel-body
            h2 1000
            h5
              small Lines of Code
      .col-lg-4
        .panel.panel-info
          .panel-body
            h2 528
            h5
              small Public API Methods
      .col-lg-4
        .panel.panel-info
          .panel-body
            h2 7.7
              h5
                small Class Complexity
